<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pandalan.mirakuru"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Uses ICS Theme.Holo -->
    <uses-sdk android:minSdkVersion="14" />

    <application
        android:icon="@drawable/kirby"
        android:label="MIRAKURU">
        <activity
            android:label="MIRAKURU"
            android:name=".Mirakuru"
            android:screenOrientation="landscape" 
            android:theme="@android:style/Theme.Holo.NoActionBar">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="CONVERSATIONX"
            android:name=".ConversationX"
            android:screenOrientation="landscape" 
            android:theme="@android:style/Theme.Holo.NoActionBar">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>